<div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>{{dataRegister.title}}</h2>
      <div class="w-80">
        <app-input [fc]="formName" [formData]="formDataName"></app-input>
        <app-input-email [fc]="formEmail" [formData]="formDataEmail"></app-input-email>
        <app-input [fc]="formPassword" [formData]="formDataInput"></app-input>
        <div class="btn-position">
        <button class="btn-brown" (click)="register()">{{dataRegister.title}}</button>
        </div>
    </div>
    </div>
  </div>