.form-control {
    border: 1.5px solid #dddddd;
    &.text {
      width: 100%;
      height: 15px;
      padding: 12px 16px 12px 16px;
      border-radius: 5px;
    }
    &.is-invalid {
      border: 1.5px solid #FF5F2D;
    }
  }
  .w-50{
    width: 50%;
  }

  .btn-brown{
    padding: 15px;
    background-color: #635C53;
    outline: unset;
    border: unset;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
  }
  .btn-position{
    margin-top: 20px;
  }
  .btn-grey{
    cursor: pointer;
    width: 100px;
    border-radius: 3px;
    padding: 15px;
    background-color: #DDDDDD;
    outline: unset;
    border: unset;
    color: #333333;
    margin-top: 10px;
  }