/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'custom_font_bold';
    src: url("assets/fonts/PT_Sans-Web-Bold.ttf") format("opentype");
  }
@font-face {
    font-family: 'custom_font_bold_italic';
    src: url("assets/fonts/PT_Sans-Web-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: 'custom_font_italic';
    src: url("assets/fonts/PT_Sans-Web-Italic.ttf") format("truetype");
}
@font-face {
    font-family: 'custom_font_regular';
    src: url("assets/fonts/PT_Sans-Web-Regular.ttf") format("truetype");
}
body{
    margin: 0;
}
*:focus {
    outline: none;
}
