<div class="comment" *ngFor="let item of dataComments">
    <div class="container">
        <div>
          <img
            src="/assets/image/facebook.jpg"
            class="iconDetails"
          />
        </div>
        <div class="box">
          <h4>{{item.author}}</h4>
          <label>{{item.date}}</label>
          <p>
           {{item.message}}
          </p>
          <div class="vote">
            <span>{{item.point}}</span><span class="point">{{dataContent.text1}}</span
            ><i class="fa fa-arrow-circle-up arrowdown" [style.color]="item.up" (click)="clickArrow(item.id,'up')"></i
            ><i class="fa fa-arrow-circle-down arrowdown" [style.color]="item.down" (click)="clickArrow(item.id,'down')"></i>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="item.replies.length">
            <div class="containerchild" *ngFor="let item2 of item.replies">
                <div>
                  <img
                  src="/assets/image/facebook.jpg"
                  class="iconDetails"
                  />
                </div>
                <div class="box">
                  <h4>{{item2.author}}</h4>
                  <label>{{item2.date}}</label>
                  <p>
                   {{item2.message}}
                  </p>
                  <div class="vote">
                    <span>{{item2.point}}</span><span class="point">{{dataContent.text1}}</span
                        ><i class="fa fa-arrow-circle-up arrowdown" [style.color]="item2.up" (click)="clickArrow(item2.id,'up')"></i
                            ><i class="fa fa-arrow-circle-down arrowdown" [style.color]="item2.down" (click)="clickArrow(item2.id,'down')"></i>
                  </div>
                </div>
              </div>
        </div>
      </div>          
</div>
